.main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Acme', sans-serif;
    color: white;
    padding: 0 30px;
    height: 70vh;
    overflow: scroll;
}

@media screen and (max-width: 786px) {
    .main-wrapper{
    height: 94vh;
        padding: 0 15px;
    }
}


.main-title {

    font-size: 50px;
    margin: 13px 0px;
}

.displayflx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 60px 0px;
}

.main-text {
    font-size: 20px;
    font-weight: bold;
}

.MuiCard-root {
    text-align: center;
    background-color: #BDAE7C !important;

}

.cardAnnWrapper {
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

