.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #FFB6AC;
    border-bottom: 2vh #C0AD7B solid;
    overflow: auto;
    height: 10vh;
    margin-bottom: 3vh;
}

.header-nav {
    font-family: 'Acme', sans;
    font-size: 22px;
    background-color: #D5362C;
    padding: 7px 30px;
    letter-spacing: 1px;
    font-weight: 600;

    text-decoration: none;
    color: #FFB6AC;

}

.header-nav:hover {
    cursor: pointer;
    background-color: #C0AD7B;
    color: white;
}

.active {
    background-color: #C0AD7B;
    color: white;
}

/* Individual item */
.bm-item {
    display: inline-block;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
    color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #BDAE7C;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {

    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.menu-display {
    display: none;

}

@media screen and (max-width: 786px) {
    .menu-display {
        display: block;
    }
    .header-nav {
        display: none;
    }
    .header {
        position: absolute;
        height: auto;

    }
}





